* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: "Avenir";
    src: url("../fonts/Avenir.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir.woff") format("woff"), url("../fonts/Avenir.ttf") format("truetype"), url("../fonts/Avenir.svg#Avenir") format("svg");
    height: -webkit-fill-available;
}

/********** START OF INDEX PAGE **********/
.landing-page {
    height: -webkit-fill-available;
    background-image: url("images/man-pose-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.box {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.body {
    border: 1px solid black;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    padding-bottom: 10%;
}

.footer {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page h1 {
    color: white;
    transform: scale(1, 1.2);
    padding: 0 20px;
}

.landing-page button {
    background-color: #f5989d;
    color: black;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 10px 110px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.landing-page a {
    text-decoration: none;
}
/********** END OF INDEX PAGE **********/

/********** START OF DETAILS PAGE **********/
.details-page {
    background-color: #395b64;
    background-image: url("images/man-holding-ball.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

.box-details {
    padding: 10px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

.body-details {
    border: 1px solid black;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10%;
}

.footer-details {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gender-button {
    width: 9em;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
}

.gender-button:focus {
    border-color: aqua;
    color: aqua;
    font-weight: 300;
}

.details-page h1 {
    font-size: 30px;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}

.input {
    padding-top: 2rem;
}

.input-field {
    color: white;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 1rem;
    padding: 0.25rem 4rem;
}

.input-field::placeholder {
    color: #bdbdbd;
}

input:focus::placeholder {
    color: transparent;
}

.action-button {
    color: black;
    background-color: #f5989d;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 10px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/********** END OF DETAILS PAGE **********/

/********** START OF ADULT TRAINING PAGE **********/
.adult-page {
    background-color: #395b64;
    background-image: url(images/man-holding-barbell.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

.box-adult {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.body-adult {
    border: 1px solid black;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10%;
}

.footer-adult {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adult-page .adult-button {
    background-color: #f5989d;
    color: black;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 10px 110px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.body-adult button {
    width: 15em;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px 2px;
    cursor: pointer;
    background-color: transparent;
    letter-spacing: 4px;
}

.body-adult h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 100;
    padding-bottom: 30px;
}

/********** END OF ADULT TRAINING PAGE **********/

/********** START OF SENIOR TRAINING PAGE **********/
.senior-page {
    background-color: #395b64;
    background-image: url(images/man-holding-barbell.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

.box-senior {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.body-senior {
    border: 1px solid black;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10%;
}

.footer-senior {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.senior-page .senior-button {
    background-color: #f5989d;
    color: black;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 10px 110px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.body-senior button {
    width: 15em;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px 2px;
    cursor: pointer;
    background-color: transparent;
    letter-spacing: 4px;
}

.body-senior h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

/********** END OF 
SENIOR TRAINING PAGE **********/

/********** START OF 
MOTIVATION PAGE **********/
.motivational-page {
    background: linear-gradient(#90b4c0 70%, #395b64 70%);
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-top {
    height: 70vh;
    margin: 0 30px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-bottom {
    margin: 0 20px;
    height: 15vh;
    border: 2px solid green;
}

.body-motivation h1 {
    color: white;
    text-decoration: underline;
    transform: scale(1, 1.2);
    padding: 18px;
}

.footer-motivation h2 {
    color: white;
    padding-top: 20px;
}

/********** END OF MOTIVATION PAGE **********/

/********** START OF LOGIN, SIGNUP PAGE **********/
.login-page {
    background-color: #395b64;
}

.box-login {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.body-login {
    border: 1px solid black;
    height: 70vh;
}

.body-login h1 {
    color: white;
    transform: scale(1, 1.2);
}

.body-child-login {
    border: 1px solid black;
    margin: 30px;
}

.input-div {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

.input-spacing {
    padding-top: 2rem;
}

.login-input-field {
    color: #bdbdbd;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 1rem;
    width: 100%;
}

.forgot-div {
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
}

.login-button-div {
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.login-button-div button {
    background-color: #f5989d;
    color: black;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 10px 113px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.body-login p {
    color: white;
}

.body-login span {
    color: #bdbdbd;
}
/********** END OF LOGIN, SIGNUP PAGE **********/

/********** START OF ACCOUNT PAGE **********/
.account-page {
    background-color: #395b64;
}

.box-account {
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-account {
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.middle-account {
    color: white;
    line-height: 40px;
    border: 1px solid #f5989d;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 20px;
}

.info-columns-2 {
    text-align: end;
}

.bottom-account {
    color: white;
    border: 1px solid #f5989d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: 0 20px;
}

.cropped1 {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #f5989d;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
}

svg.menu {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

svg.close {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

nav {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 50vh;
    width: 50vw;
    border-radius: 8px;
    background: #f5989d;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    text-transform: uppercase;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top:50px
}

a {
    text-decoration: none;
    color: white;
    padding: 1.5em;
    display: block;
}

a:hover {
    background: rgb(235, 235, 235);
    color: black;
}

.open-nav {
    transform: translateX(0%)
}
/********** END OF ACCOUNT PAGE **********/


